<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
    <rb-recipe-item [recipe]="recipe" (click)="onSelected(recipe)"></rb-recipe-item>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <rb-recipe-list (recipeSelected)="selectedRecipe = $event"></rb-recipe-list>
  </div>
  <div class="col-md-7">
    <rb-recipe-detail></rb-recipe-detail>
  </div>
</div>
